# === IDEs ===
.idea/
*.iml
*.ipr
*.iws

# === Maven ===
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# === Logs ===
*.log

# === OS files ===
.DS_Store
Thumbs.db

# === Java ===
*.class

# === Misc ===
*.swp
*.swo
